{% extends "base.html" %}

{% block content %}
<div class = "content">
<img class = "details_image" src ="{{ MEDIA_URL }}{{game.image.url}}">
</div>
<div class = "contents">
<p>купить {{game.title}}</p>

<p>{{game.price}}р</p>
</div>

<div class = "descript">
    <p>Жанр      {{game.genre}} </p>
    <p>Платформа                </p>
    <p>Дата Выхода              </p>
    <p>Издатель                 </p>
    <p>Разработчик              </p>
</div>
<div class = "game_descript">
    <p>{{game.description }}</p>
</div>

    <h3><a href = "comment/">комментировать</a></h3> 

    {% for comment in commentarys %}
    <div class = "comments">
        <p>{{comment.texts}}</p>
        <p>{{comment.user}}</p> 
    </div>
    {% endfor %}


{% endblock %}